<style>
    html {
        height: 100%;
    }
    body {
        background-color: #404040;
    }
    p {
        color: white;
        font-family: 'Great Vibes', cursive;
        font-size: 300%;
    }
    input {
        font-size: 50px; // for say a select
        width: 200px;
        border-top: none;
        border-left: none;
        border-right: none;
        color: black;
        outline: none;
    }
    th,
    td {
        border: 1px solid;
    }
    th {
        font-weight: bold
    }
</style>
